*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background-color: rgb(158, 186, 192);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
ul{
    margin-bottom: 0;
}
.accordion{
    background-color: rgb(74, 87, 135);
    border-radius: 6px;
    padding: 30px;
}
.question{
    border-top: 1.5px solid black;
    padding: 20px;
    position: relative;
}
.question h2{
    font-size: 20px;
    margin: 0;
    color: black;
}
.question .glyphicon{
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}
.answer p{
    padding: 20px;
}
.accordion li.open .question .glyphicon{
    transform: rotate(180deg);
}
.accordion li.open .answer{
    max-height: 150px;
}